doctype html
html(lang='pt-BR')

	head
		title Chronica Mobilis
		meta(name="viewport" content="width=device-width,initial-scale=1.0")
		link(rel='stylesheet', href='/css/leaflet.css')
		link(rel='stylesheet', href='/css/app.css')

	body
		#map

script(type='text/javascript', src='/app.js')